@import 'palette';

body {
    background-color: #515157;
    color: #e6f1f3;
    font-size: 30px;
    font-family: Arial, sans-serif;    
  }
  
 

  #chan {
    display: block;
    margin: 0 auto;
  }
  
  a {
    color: rgb(219, 211, 240);
  }